* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial;
    font-size: 20px;
}

header {
    height: 9vh;
    background: #FFC4C4;
    box-shadow: 0 0 1rem #FFC4C4;
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: 42px;
    height: 42px;
    margin: 4px;
}

.testinho ul {
    display: flex;
    margin: 23px;
}

.testinho li {
    color: #A10035;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}

a {
    color: #A10035;
    text-decoration: none;
}

p {
    margin-left: 30px;
    margin-right: 50px;
    font-size: 25px;
}

.part1 {
    align-items: center;
    padding:1vh;
    background-color: white;
    margin: 5;
    margin-top: 15px;
    box-shadow: 0 0 1rem #F1BBD5;
    display: flex;
    flex-direction: row;
}

tr {
    align-items: center;
    padding: 1vh;
    background-color: white;
    margin: 5;
    margin-top: 30px;
    box-shadow: 0 0 1rem #E4E4E4;
    display: flex;
    flex-direction: row;
}

.cachoro1 {
    align-items: center;
    padding: 1vh;
    background-color: white;
    margin: 5;
    margin-top: 3px;
    box-shadow: 0 0 1rem #F1BBD5;
    display: flex;
    flex-direction: row;
}

footer {
    height: 8vh;
    box-sizing: border-box;
    margin: 0;
    background-color: #E3CFBF;
    width: 100%;
    box-shadow: 0 0 1rem #FFC4C4;
}

footer, .ngc {
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}

.gustavo {
    margin: 0;
    height: 8px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}