* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: Arial;
    font-size: 20px;
}

header {
    height: 9vh;
    background: #FFC4C4;
    box-shadow: 0 0 1rem #FFC4C4;
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: 42px;
    height: 42px;
    margin: 4px;
}

.testinho ul {
    display: flex;
    margin: 23px;
}

.testinho li {
    color: #A10035;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}

.partOne {
    border-radius: 50px 0px 0px 50px;
    padding: 6vh;
    background-color: #FCE2DB;
    margin: 5;
    margin-top: 10px;
    box-shadow: 0 0 1rem #FFC4C4;
}

h1 {
    text-align: center;
    vertical-align: middle;
    margin-top: 35px;
    margin-bottom: 50px;
    color: #FF87B2;
}

p {
    color: #FF869E;
}

th {
    background: #F1F1F1;
    margin: 5;
    margin-top: 10px;
    padding: 1vh;
    box-shadow: 0 0 1rem #FFC4C4;
    border-radius: 40px;
    width: 20%;
    margin-bottom: 50px;
}

td {
    text-align: center;
    vertical-align: middle;
}

a {
    color: #a10035;
    text-decoration: none;
}

footer {
    height: 8vh;
    box-sizing: border-box;
    margin: 0;
    background-color: #e3cfbf;
    width: 100%;
    box-shadow: 0 0 1rem #FFC4C4;
}

footer, .ngc {
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}

.gustavo {
    margin: 0;
    height: 8px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}